.title-playlist {
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: capitalize;
  color: #fff;
  font-size: 20px;
}
.zm-section .zm-bt {
  display: block;
  padding: 5px 24px;
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  border-radius: 100px;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  margin-right: 15px;
  color: #fff;
}
.zm-section .zm-bt.active {
  border-color: #9b4de0;
  background-color: #9b4de0;
  color: #fff;
}
.showall {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: hsla(0, 0%, 100%, 0.5);
}
/* .media-item:hover {
    background-color: hsla(0, 0%, 100%, 0.1);
  } */
.media {
  align-items: center;
  display: flex;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.media .media-left {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  margin-right: 10px;
}
.media .media-left,
.media .media-right {
  flex-basis: auto;
  color: #fff;
}
.media-item .media-left .song-thumb {
  margin-right: 10px;
  flex-shrink: 0;
}
.media-left .song-thumb {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  cursor: pointer;
}
.is-60x60 {
  width: 60px;
  height: 60px;
}
figure {
  background-color: hsla(0, 0%, 100%, 0.1);
}
img {
  height: auto;
  width: 100%;
}
.opacityy {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
}

.zm-actions {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  z-index: 98;
  transform: translateX(-50%) translateY(-50%);
  display: -moz-flex;
  display: flex;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  visibility: hidden;
  width: 80%;
  z-index: 97;
}
.media-left .song-thumb + .card-info {
  overflow: hidden;
}

.media .card-info {
  display: -moz-flex;
  display: flex;
  -moz-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
.media-item .media-left .title-wrapper {
  max-width: 100%;
}

.title-wrapper {
  display: flex;
  align-items: center;
}
.media-left .time-release {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.5);
  margin-top: 3px;
  white-space: nowrap;
}
.media-item .media-left .subtitle {
  line-height: 1.33;
}
.media .subtitle {
  display: block;
  font-size: 12px;
  margin-top: 3px;
}
.singer-name {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: hsla(0, 0%, 100%, 0.5);
}
