.title-partner {
    margin-bottom: 24px;
    font-size: 12px;
    letter-spacing: 1.71px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .title-partner span {
    color: hsla(0, 0%, 100%, 0.5);
  }
  
  .partner {
    justify-content: center;
    display: -moz-flex;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    flex-wrap: wrap;
    position: relative;
    margin: 0 -15px;
  }
  .partner-item {
    position: relative;
    min-height: 1px;
    padding-left: 14px;
    padding-right: 14px;
    float: left;
    flex-shrink: 0;
  }
  .partner-item .partner-item-inner {
    border-radius: 8px;
    overflow: hidden;
  }
  .partner-item-inner .content-inner {
    padding-bottom: 56.25%;
    height: 0;
    position: relative;
  }
  .partner-item-inner .content-inner .image {
    background-color: #f7f7f7;
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .partner-item-inner .content-inner .image img {
    max-width: 90%;
    max-height: 80%;
    width: auto;
  }
  .zm-portal-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 199;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-isActive {
    background-color: #34224f;
    border-radius: 8px;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 200;
    overflow: hidden;
  }
  
  .model-content {
    width: 700px;
    max-width: 90vw;
    margin: 20px;
    /* height: 500px; */
    margin-bottom: -10px;
  }
  .model-content .title {
    font-size: 16px;
    text-align: center;
    color: hsla(0, 0%, 100%, 0.5);
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3.03px;
    display: block;
    font-weight: 700;
    margin-top: 3px;
  }
  
  .overlay-model {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  